springboot-react-main/recycleai-server/src/main/resources/validation_schemas/user.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="User">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="userId" type="xs:int" minOccurs="0"/>
                <xs:element name="username" type="xs:string"/>
                <xs:element name="password" type="xs:string"/>
                <xs:element name="name" type="xs:string"/>
                
                <xs:element name="domain">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="domainId" type="xs:int"/>
                            <xs:element name="name" type="xs:string" minOccurs="0"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>